<h1>タスク管理</h1>
<%= notice %>
<table>  
  <tr>
    <th>タスク名</th>
    <th>詳細</th>
  </tr> 
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= task.detail %></td>
    </tr>
  <% end %>
</table>  

<%= link_to "新規タスク",new_task_path %>