<h1>ユーザー詳細</h1>
<hr>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">名前</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td scope="row"><%= @user.name %></td>
    </tr>
  </tbody>
  <thead class="thead-light">
    <tr>
      <th scope="col">アドレス</th>
    </tr> 
  </thead>
  <tbody>
    <tr>
      <td scope="row"><%= @user.email %></td>
    </tr>
  </tbody>
</table>