// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-group {
  padding-right: 100px;
}

.btn_sort {
  margin-left: 5px;
}

.pagination {
  margin-top: 10px;
}

.table {
  margin-top: 10px;
}